<section id="schedule-coming-soon" class="schedule-coming-soon">
  <div class="content-wrapper">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
      <p class="lead">The schedule will be posted closer to the event date.</p>
      <p>
        MenderCon is combiantion of scheduled talks and unconference. This format
        means every attendee has a voice in shaping the day's discussions and
        learning opportunities.
      </p>
      <p>
        Check back in <strong>spring 2026</strong> for more details, or follow
        <a href="{{ site.mastodonServer }}{{ site.mastodonAccount }}" target="_blank">{{ site.mastodonAccount }}</a>
        on Mastadon for updates!
      </p>
    </div>
  </div>
</section>