<!-- Begin Speakers List-->
<section id="speakers" class="speakers">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
<!--          When new speakers are selected revert the deletion of the speaker div -->
            <div class="row text-left appear-animation-trigger">
                <div class="col-xs-12">
                    <p>MenderCon is back in 2024 for our fifth annual conference!</p>

                    <p>You'll fit right in if you:</p>
                    <ul>
                    <li>Love software remodeling</li>
                    <li>Enjoy fixing bugs</li>
                    <li>Get excited to work with legacy code</li>
                    <li>Want to connect with others who feel the same way</li>
                    </ul>
                    <p>Any topic is fair game, so don't be shy! Your talk subject
                        could include (but definitely is not limited to) legacy
                        code, cloud/Kubernetes, dependency freshness, bug hunting,
                        etc. Whether it's totally trending or you're one of the only
                        people to have heard of it, we want to hear you talk about
                        it! Entries are due by March 15th, with speaker notifications
                        being sent out by April 6th. <a href="https://forms.gle/GokqG3GKsJ6DBxqGA">Apply to Speak</a></p>
                    <p>And if your talk isn't selected for the standard track,
                        please host a session in the open track. This is a great way
                        to get some practice and feedback from others.</p>

                    <p>MenderCon is sponsored by Legacy Code Rocks! and Corgibytes.
                        <a href="https://www.legacycode.rocks">Legacy Code Rocks!</a>
                        is an online community and podcast dedicated to software
                        menders, people who get excited to work with legacy code and
                        want to know that they aren't weird or bad developers for
                        doing so. The Legacy Code Rocks! community of software
                        menders is a great place to connect with other folks who are
                        working on making software a little bit better, one unit
                        test at a time.</p>

                    <p><a href="https://corgibytes.com">Corgibytes</a> helps
                        companies make their existing custom software systems more
                        stable, scalable and secure. Corgibytes specializes in
                        upgrades, bug fixes, performance enhancements and other
                        maintenance activities designed to help tech companies
                        generate revenue, lower operating costs, and reduce risk.
                    </p>

                    <p>If you are interested in a sponsorship opportunity please
                        email us at sales at corgibytes dot com.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Speakers List -->
