<section id="speakers-coming-soon" class="speakers-coming-soon">
  <div class="content-wrapper">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
      <p class="lead">The speakers will be posted closer to the event date.</p>
      <p>
        MenderCon thrives on community participation. If you're passionate about
        legacy code modernization, technical debt, or software improvement practices,
        we'd love to hear from you!
      </p>
      <p>
        Please check back in <strong>January 2026</strong> when the call for papers
        open or follow
        <a href="https://toot.legacycode.rocks/@mendercon" target="_blank">@mendercon</a>
        on Mastadon for updates!
      </p>
    </div>
  </div>
</section>
