.partners  {
    h5 {
       margin-top: 30px;
    }
    .list-inline {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 65px;
        li {
            max-width: 500px;
            margin: 13px 7px;
        }
    }
    img {
        width: 100%;
        transition: $base-transition;
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
        }
    }
}